<td>
    <div>
        @for (fileInput of fileInputs; track $index) {
        <input type="file" class="title" (change)="onFileChange($event, $index)" (change)="method($event)">
        <button type="button" class="btn btn-sm json-schema-form-item-remove null button" title
            (click)="removeFile($index)">
            - </button>
        }
    </div>
    <button style="margin: auto;" type="button" class="btn btn-sm json-schema-form-item-add null button" title
        (click)="addFile()"> Add File
        Item</button>
</td>
<br>
<button (click)="uploadFiles()">Upload</button>